@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-body {
  background-color: #0C86C6;
  display: flex;
  flex-direction: column;
  padding: 5% 0;
  align-items: center;
  height: 100dvh;
}

.custom-card {
  /* max-width: 800px !important; */
  min-width: 900px !important;
}

.custom-container {
  margin: 16px 0px 0px 0px;
  text-align: center;
  gap: 200px !important;
}

.custom-input {
  width: 100px !important;
  text-align: center;
}

.custom-name {
  color: #0C86C6;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 576px) {
  .custom-card {
    max-width: 400px;
  }
}